[submodule "src/Firmware/libraries/PubSubClient"]
	path = src/Firmware/libraries/PubSubClient
	url = ../pubsubclient.git
	branch = master
[submodule "src/Firmware/libraries/ArduinoJson"]
	path = src/Firmware/libraries/ArduinoJson
	url = ../ArduinoJson.git
	branch = master
[submodule "src/Firmware/libraries/Adafruit_NeoPixel"]
	path = src/Firmware/libraries/Adafruit_NeoPixel
	url = ../Adafruit_NeoPixel.git
	branch = master
